<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <style>

        body {
            font: 10px sans-serif;
        }

        .axis path,
        .axis line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }

        .bar {
            fill: steelblue;
        }


    </style>

    <title></title>
</head>
<body>
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/d3.v3.min.js"></script>
<script>
    function addCommas(nStr) {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
    }

    function addGraph(filename) {
        var margin = {top: 20, right: 55, bottom: 80, left: 80},
                width = 1000 - margin.left - margin.right,
                height = 550 - margin.top - margin.bottom;

        var x = d3.scale.ordinal()
                .rangeRoundBands([0, width], .1);

        var y = d3.scale.linear()
                .rangeRound([height, 0]);

        var line = d3.svg.line()
                .interpolate("cardinal")
                .x(function (d) { return x(d.label) + x.rangeBand() / 2; })
                .y(function (d) { return y(d.value); });

        var color = d3.scale.ordinal()
                .range(["#99AACC", "#CCAACC", "#CCAA99", "#CC5577", "#55CC66", "#4466CC", "#AAAAAA"]);

        var xAxis = d3.svg.axis()
                .scale(x)
                .orient("bottom")
                .tickSize(0, 6)
                .tickFormat(function (d) {
                    var seconds = d.substring(d.length - 2);
                    if (seconds === '00' || seconds === '00') return (''+d);
                });

        var yAxis = d3.svg.axis()
                .scale(y)
                .orient("left").ticks(15);

        var svg = d3.select("#" + filename + " .graph").append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        d3.csv(filename + ".csv", function (error, data) {
            var labelVar = 'timestamp';
            var varNames = d3.keys(data[0])
                    .filter(function (key) { return key !== labelVar;});

            color.domain(varNames);

            var seriesData = varNames.map(function (name) {
                return {
                    name: name,
                    values: data.map(function (d) {
                        return {name: name, label: d[labelVar], value: +d[name]};
                    })
                };
            });

            x.domain(data.map(function (d) {
                return d.timestamp;
            }));
            y.domain([
                d3.min(seriesData, function (c) {
                    return d3.min(c.values, function (d) { return d.value; });
                }),
                d3.max(seriesData, function (c) {
                    return d3.max(c.values, function (d) { return d.value; });
                })
            ]);

            svg.append("g")
                    .attr("class", "x axis")
                    .attr("transform", "translate(0," + height + ")")
                    .call(xAxis)
                    .selectAll("text")
                    .style("text-anchor", "end")
                    .attr("dx", "-.8em")
                    .attr("dy", ".15em")
                    .attr("transform", function (d) {
                        return "rotate(-65)"
                    });

            svg.append("g")
                    .attr("class", "y axis")
                    .call(yAxis)
                    .append("text")
                    .attr("transform", "rotate(-90)")
                    .attr("y", 6)
                    .attr("dy", ".71em")
                    .style("text-anchor", "end")
                    .text("TPS");

            var series = svg.selectAll(".series")
                    .data(seriesData)
                    .enter().append("g")
                    .attr("class", "series");

            series.append("path")
                    .attr("class", "line")
                    .attr("d", function (d) { return line(d.values); })
                    .style("stroke", function (d) { return color(d.name); })
                    .style("stroke-width", "3px")
                    .style("fill", "none");

            var legend = svg.selectAll(".legend")
                    .data(color.domain().slice().reverse())
                    .enter().append("g")
                    .attr("class", "legend")
                    .attr("transform", function (d, i) { return "translate(0," + i * 20 + ")"; });

            legend.append("rect")
                    .attr("x", width - 46)
                    .attr("width", 18)
                    .attr("height", 18)
                    .style("fill", color);

            legend.append("text")
                    .attr("x", width - 24)
                    .attr("y", 9)
                    .attr("dy", ".35em")
                    .style("text-anchor", "begin")
                    .text(function (d) { return d + ' : ' + addCommas(data[data.length - 1][d]); });
        });
    }

    function report(filename, name) {
        $("body").append("<div id='" + filename + "'><div class='title'/><div class='graph'/></div>");
        $("#" + filename + " .title").before("<h1>" + name + "</h1>");
        addGraph(filename);
    }

    $(document).ready(function () {
        !report!
    });
</script>
</body>
</html>